@* @model IEnumerable<TestingMovieMVC.Models.Movie> *@
@model TestingMovieMVC.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<h1>Movies List</h1>

<p>
    <a asp-action="Create" class="btn btn-info">
        Create New
        <i class="fa-solid fa-plus"></i>
    </a>
</p>

<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].imgFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Rating)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies!)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.imgFile"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

    <div class="container">   
        <div class="row gx-3">
        @foreach (var item in Model.Movies)
            {
                <div class="col">
                    <div class="card my-3" style="width:18rem;">
                        @* <img src="https://i.pinimg.com/564x/13/84/80/13848072a56fa5462629dbf7d70941dd.jpg" class="card-img-top object-fit-cover" height="" alt="..."> *@
                        <img src="@Html.DisplayFor(modelItem => item.imgFile)" class="card-img-top object-fit-cover">
                        <div class="card-body">
                            <h5 class="card-title fw-bolder">
                                @Html.DisplayFor(modelItem => item.Title)
                            </h5>
                            @* <span>@(++count)</span> *@
                            <div class="">
                            <span class="card-text fs-6 fst-italic">Released - @Html.DisplayFor(modelItem => item.ReleaseDate)</span>
                            <div class="fs-6 fst-italic">Genre - @Html.DisplayFor(modelItem => item.Genre)</div>
                            <span class="fw-bolder">Price - $@Html.DisplayFor(modelItem => item.Price)</span>
                            </div>
                            <p class="fs-6 fw-medium">Rating - @Html.DisplayFor(modelItem => item.Rating)</p>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</table>
