@model List<BookDataModel>
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Book Index";
    int count = 1;
}

<p>Hello World</p>

<div>
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                @{
                    int titleMaxLength = 20;
                    string bookTitle = item.Title;
                    string displayTitle = bookTitle.Length > titleMaxLength ? bookTitle.Substring(0, titleMaxLength) + "..." : bookTitle;
                }
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => displayTitle)
                </h5>
                <div>
                    <p class="card-text">@item.Author</p>
                    <p class="card-text">@item.PublishedDate</p>
                    @{
                        int DescMaxLength = 20;
                        string bookDesc = item.Description;
                        string displayDesc = bookDesc.Length > DescMaxLength ? bookDesc.Substring(0, DescMaxLength) + "..." : bookDesc;
                    }
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => displayDesc)
                    </p>
                    <span>@(++count)</span>
                </div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>


@section scripts{
    <script>
        console.log('text');
    </script>
}