@model IEnumerable<MovieApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Home <i class="fa-solid fa-house fa-xs"></i></h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New <i class="fa-solid fa-plus"></i></a>
</p>


<div class="container">
    <div class="row gx-1">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card my-3" style="width:18rem;">
                    <img src="~/movieImg/@item.ImageUrl" class="w-100 h-75 object-fit-cover" />
                    <div class="card-body">
                        <h5 class="card-title fw-bolder">
                            @{
                                int maxLength = 20;
                                string movieTitle = item.Title;
                                string displayedText = movieTitle.Length > maxLength ? movieTitle.Substring(0, maxLength) + "..." : movieTitle;
                            }
                            @Html.DisplayFor(modelItem => displayedText)
                        </h5>
                        <div class="">
                            <span class="card-text fs-6 fst-italic">Released - @Html.DisplayFor(modelItem => item.ReleaseDate)</span>
                            @{
                                int MaxLength = 20;
                                string movieGenre = item.Genre;
                                string displayGenre = movieGenre.Length > maxLength ? movieGenre.Substring(0, maxLength) + "..." : movieGenre;
                            }
                            <div class="fs-6 fst-italic">Genre - @Html.DisplayFor(modelItem => displayGenre)</div>
                            <span class="fw-bolder">Price - $@Html.DisplayFor(modelItem => item.Price)</span>
                        </div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> | 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
